In [6]:
import pandas as pd 
import numpy as np 
import pdfplumber

In [7]:
ctt_file = pdfplumber.open('ctt.pdf')
ctt_page5 = ctt_file.pages[4]
chars = ctt_page5.chars[4]

In [8]:
chars

{'fontname': 'VPACID+Arial,Bold',
 'adv': Decimal('5.534'),
 'upright': True,
 'x0': Decimal('441.389'),
 'y0': Decimal('790.495'),
 'x1': Decimal('446.923'),
 'y1': Decimal('800.455'),
 'width': Decimal('5.534'),
 'height': Decimal('9.960'),
 'size': Decimal('9.960'),
 'object_type': 'char',
 'page_number': 5,
 'stroking_color': None,
 'non_stroking_color': [0.8, 0.2, 0],
 'text': 'a',
 'top': Decimal('41.545'),
 'bottom': Decimal('51.505'),
 'doctop': Decimal('3409.545')}

In [157]:
# pd.DataFrame(pages[4].extract_tables()[0])

In [80]:
pages = ctt_file.pages
table = pages[4].extract_table(table_settings= {"horizontal_strategy": "lines", "keep_blank_chars": True,"text_y_tolerance": 10, 'text_x_tolerance':20})

In [151]:
df = pd.DataFrame(table)
df=df.drop(columns= [0,2,7,8,9])
df = df.drop([0,1,2])

In [152]:
def new_df(x):
    return x.replace(np.nan, '*')

In [154]:
df= df.apply(new_df, axis = 1)
df = df.set_index(keys= 1)

In [158]:
df.index

Index(['', '*',
       'Contas de Depósito à Ordem (Comissões aplicáveis a todas as Contas)',
       'Comissões durante a vigência do contrato',
       '1.Extrato Integrado mensal',
       '2.Consulta de Saldo de conta DO com comprovativo',
       '3.Consulta de Movimentos de conta DO com\ncomprovativo',
       '4.Emissão 2ªs Vias de Avisos e Outros Documentos',
       '5.Emissão 2ª Via - Extrato Integrado', 'Conta Banco CTT',
       'Comissões durante a vigência do contrato',
       '1.Comissões por descoberto bancário',
       '2.Levantamento de Numerário ao Balcão\nA partir de 2 levantamentos ao Balcão, inclusivé',
       '3.Depósito em moeda metálica (>= 100 moedas)',
       '4.Comissão de manutenção de conta',
       '5.Alteração de titularidade (titular/ representante)', '*',
       'Conta Júnior (Montante Mínimo de Abertura 25,00€)',
       'Comissões durante a vigência do contrato',
       '1.Levantamento de Numerário ao Balcão', '*',
       '2.Depósito em moeda metálica (>= 100 moedas)',
       '3.Comissão de manutenção de conta', '*',
       '4.Alteração de titularidade (titular/ representante)', '*',
       'Conta Base (Montante Mínimo de Abertura 100,00€)', '*', '',
       'Comissões durante a vigência do contrato', '',
       '1.Levantamento de Numerário ao Balcão\nA partir de 4 levantamentos ao Balcão, inclusivé',
       '*', '2.Depósito em moeda metálica (>= 100 moedas)', '*', '*',
       '3.Comissão de manutenção de conta',
       '4.Alteração de titularidade (titular/ representante)',
       'Conta de Serviços Mínimos Bancários',
       'Comissões durante a vigência do contrato',
       '1.Levantamento de Numerário ao Balcão',
       '2.Depósito em moeda metálica (>= 100 moedas)', '',
       '3.Comissão de manutenção de conta',
       '4.Transferências através de aplicações de pagamento\noperadas por terceiros'],
      dtype='object', name=1)

In [141]:
def drop_descriptions(df):
    for x in list(df.columns):
        if df.iloc[:,x].isnull().sum() == df.shape[0]:
            df.drop(x, inplace = True)
    return df

In [142]:
# df.iloc[:,9].isnull().sum()
df.iloc[:,6].value_counts()

*    47
      1
Name: 7, dtype: int64

In [162]:
table = pages[16].extract_tables(table_settings= {"horizontal_strategy": "lines", "keep_blank_chars": True,"text_y_tolerance": 10, 'text_x_tolerance':20})

In [163]:
df = pd.DataFrame(table[0])

In [164]:
df

,0,1,2,3,4,5,6,7
0,Entrada em Vigor: 15-Mar-2021 \n17.CONTAS DE D...,None,None,None,None,None,None,None
1,,None,None,None,None,None,None,None
2,17.1. D,None,epósit,os à ordem,None,None,None,None
3,,,,None,Taxa Anual,,,
4,,None,None,None,Nominal Bruta \n(TANB),Regime Fiscal,Outras condições,
5,,Renumeração de saldo,None,None,None,None,None,
6,,Conta Base,None,None,"0,00%",--,"Mínimo de abertura de conta: 100,00€\n--\n--\n...",
7,None,Conta de Serviços Mínimos Bancários,None,None,"0,00%",None,None,None
8,None,Conta Banco CTT,None,None,"0,00%",None,None,None
9,,Conta Junior,None,None,"0,00%",,None,None
10,,None,None,None,None,None,None,None