In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import requests
import pdfplumber
import openpyxl

In [3]:
pdf = pdfplumber.open('data/BancoBICcom&taxes.pdf')

In [4]:
page=pdf.pages[5]

In [10]:
#table_setings={"horizontal_strategy":"explicit"}
df=pd.DataFrame(page.extract_table())

In [2]:
#df.to_excel('bancobic.xlsx')

In [6]:
text=page.extract_text()

In [7]:
type(text)

str

In [8]:
print(page.extract_table(table_settings={}))

[['Entrada em vigor: 04-mar-2021\n1. CONTAS DE DEPÓSITO (PARTICULARES) ÍNDICE', None, None, None, None, None, None, None, None, None, None], ['', None, None, None, None, None, None, None, None, None, None], ['', '1.1. Depósitos à ordem', None, None, None, None, None, None, None, None, None], ['', None, None, None, None, None, None, None, None, None, None], ['', '', '', None, None, None, '', 'Comissões', None, 'Acresce', 'Outras'], ['', None, None, None, None, None, None, 'Euros (Mín/Máx)', 'Valor Anual', 'Imposto', 'condições'], ['', 'Contas de Depósitos à Ordem', None, None, None, None, None, None, None, None, None], ['', '1. Comissão de manutenção de conta', None, None, None, None, None, None, None, None, None], [None, 'Conta à Ordem (5), Conta à Ordem Emigrantes (5), Conta Ordenado XL (12), Conta Cool (contratações anteriores a 13 de novembro de 2014) \n(4)(3). Contas fora de comercialização: Conta à Ordem Sucursal Financeira Exterior Madeira (5)(6), Conta Privilégio 55 (5)(7), Conta Ordenado \nPrivilégio 55 (7)(12)(13)', None, None, None, None, None, None, None, None, None], [None, 'Património financeiro', None, None, None, '≤ 2.500,00€', None, '12,00 / trimestre', '48,00', 'IS 4,00%', 'Notas 1, 2'], [None, None, None, None, None, '> 2.500,00€ e ≤ 5.000,00€', None, '10,00 / trimestre', '40,00', 'IS 4,00%', None], [None, None, None, None, None, '> 5.000,00€ e ≤ 15.000,00€', None, '7,50 / trimestre', '30,00', 'IS 4,00%', None], [None, None, None, None, None, '> 15.000,00€ e ≤ 50.000,00€', None, '5,00 / trimestre', '20,00', 'IS 4,00%', None], [None, None, None, None, None, '> 50.000,00€', None, 'Isento', None, '--', None], ['', 'Conta à Ordem com Futuro', None, None, None, None, None, 'Isento', None, '--', 'Nota 4'], ['', 'Conta Cool (contratações a partir de 13 de novembro 2014)', None, None, None, None, None, 'Isento', None, '--', 'Notas 4, 11'], [None, 'Conta à Ordem Massa Insolvente', None, None, None, None, None, 'Isento', None, '--', 'Nota 14'], ['', 'Conta BIC Salário Internacional (Fora de comercialização)', None, None, None, None, None, '5,00 / mês', '60,00', 'IS 4,00%', 'Notas 5, 20'], ['', '2. Comissão de manutenção da Conta Base', None, None, None, None, None, '5,00 / mês', '60,00', 'IS 4,00%', 'Notas 5, 8'], ['', '3. Comissão de manutenção da Conta de Serviços Mínimos \nBancários (CSMB)', None, None, None, None, None, '1,03 / trimestre', '4,12', 'IS 4,00%', 'Notas 9, 10'], ['', '4. Comissão de manutenção de conta pacote', None, None, None, None, None, None, None, None, None], ['', 'Conta EuroBic Prime com domiciliação de vencimento', None, None, None, None, None, '', None, None, 'Nota 15'], ['', 'Sem condições de bonificação', None, None, None, None, None, '5,50 / mês', '66,00', 'IS 4,00%', ''], [None, 'Com condições de bonificação', None, None, None, None, None, '4,50 / mês', '54,00', 'IS 4,00%', 'Nota 25'], ['', 'Conta EuroBic Prime sem domiciliação de vencimento', None, None, None, None, None, '', None, None, 'Nota 15'], ['', 'Sem condições de bonificação', None, None, None, None, None, '7,50 / mês', '90,00', 'IS 4,00%', ''], [None, 'Com condições de bonificação', None, None, None, None, None, '6,50 / mês', '78,00', 'IS 4,00%', 'Nota 25'], ['', 'Conta EuroBic 365 com domiciliação de vencimento', None, None, None, None, None, '', None, None, 'Nota 16'], ['', 'Sem condições de bonificação', None, None, None, None, None, '4,25 / mês', '51,00', 'IS 4,00%', ''], [None, 'Com condições de bonificação', None, None, None, None, None, '3,25 / mês', '39,00', 'IS 4,00%', 'Nota 25'], ['', 'Conta EuroBic 365 sem domiciliação de vencimento', None, None, None, None, None, '', None, None, 'Nota 16'], ['', 'Sem condições de bonificação', None, None, None, None, None, '6,00 / mês', '72,00', 'IS 4,00%', ''], [None, 'Com condições de bonificação', None, None, None, None, None, '5,00 / mês', '60,00', 'IS 4,00%', 'Nota 25'], ['', 'Conta EuroBic Sénior', None, None, None, None, None, '', None, None, None], ['', 'Sem crédito de vencimento e recursos ≤ 35.000 €', None, None, None, None, None, '4,00 / mês', '48,00', 'IS 4,00%', 'Notas 17, 18'], ['', 'Com crédito de vencimento ou recursos  > 35.000 €', None, None, None, None, None, 'Isento', None, 'IS 4,00%', 'Notas 17, 18'], ['', 'Conta EuroBic Mais (Fora de comercialização)', None, None, None, None, None, None, None, None, None], [None, 'Sem crédito de vencimento', None, None, None, None, None, '7,00 / mês', '84,00', 'IS 4,00%', 'Notas 5, 19'], [None, 'Com crédito de vencimento', None, None, None, None, None, '5,00 / mês', '60,00', 'IS 4,00%', 'Notas 12, 19'], [None, '5. Levantamento de numerário', None, None, None, None, None, '5,00', '--', 'IS 4,00%', 'Nota 21'], [None, '6. Pedido de saldo ao balcão', None, None, None, None, None, '1,00', '--', 'IVA 23,00%', ''], [None, '7. Alteração de titularidade / intervenientes', None, None, None, None, None, '7,00', '--', 'IVA 23,00%', 'Nota 24'], [None, '8. Depósito de moeda metálica (≥ a 100 moedas)', None, None, None, None, None, '5,00', '--', 'IS 4,00%', 'Notas 22, 23'], [None, '9. Segundas vias (pedido na agência)', None, None, None, None, None, 'Consulte subsecção 7.3. Outros serviços', None, None, ''], [None, '10. Descoberto bancário', None, None, None, None, None, 'Consulte subsecção 2.5. Descobertos bancários', None, None, None], ['Nota Geral O IVA é', None, None, None, 'de 23%', 'no Continente, 18% nos Açores e 22% na Madeira.', None, None, None, None, None], ['', 'Nota 1 Ascomissõesdemanutençãodecontasãocalculadascombasenaposiçãodefinaldemêsdopatrimóniofinanceiro,nosmesesde', None, None, None, None, None, None, None, None, None], ['', None, None, 'março,junho,setembroedezembro,sendocobradasnodia5domêsseguinte.Ocálculodopatrimóniofinanceiroresultadasomade\nrecursos (inclui, por exemplo, fundos de investimento) e crédito em utilização (inclui, por exemplo, leasing), sendo para o efeito\nconsideradosapenasprodutosdoBanco.Nascontasemmoedaestrangeiraacomissãoéapuradatendoporbaseataxadecâmbio\nfixing do dia 5 do mês em que a cobrança é efetuada.', None, None, None, None, None, None, None], ['', 'Nota 2 Isençãodacomissãodemanutençãodecontaparacontasabertashámenosde6meses,ContasCoolcujo1ºtitulartenhaentre18e\n25 anos de idade (inclusive), contas que tenham associado crédito habitação e contas que tenham associado crédito pessoal \n(considerando os produtos da subsecção 2.2. Crédito pessoal).', None, None, None, None, None, None, None, None, None], ['', 'Nota 3 Isenção para clientes com idade entre os 18 e 25 anos de idade.', None, None, None, None, None, None, None, '', None], ['', 'Nota 4 Montante mínimo de abertura de 25,00 €.\nNota 5 Montante mínimo de abertura de 250,00 €.', None, None, None, None, None, None, None, None, None], ['', 'Nota 6', None, 'Exclusiva para clientes não residentes com prova válida.', None, None, None, None, None, None, None], ['', 'Nota 7\nNota 8', None, 'Exclusiva para clientes com idade igual ou superior a 55 anos.\nCondições de acesso - Pessoas singulares, maiores de idade, residentes e não residentes. Serviços incluídos na comissão de', None, None, None, None, None, None, None], ['', '', None, None, None, None, None, None, None, None, None]]

In [5]:
tables=['banks', 'websites', 'settings', 'users', 'requests', 'products', 'subproducts', 'documents', 'fees', 'prices']

In [25]:
banks=pd.read_csv('seeds/banks.csv', sep=';')
websites=pd.read_csv('seeds/websites.csv', sep=';')
settings=pd.read_csv('seeds/settings.csv', sep=';')
users=pd.read_csv('seeds/users.csv', sep=';')
requests=pd.read_csv('seeds/requests.csv', sep=';')
products=pd.read_csv('seeds/products.csv', sep=';')
subproducts=pd.read_csv('seeds/subproducts.csv', sep=';')
documents=pd.read_csv('seeds/documents.csv', sep=';')
fees=pd.read_csv('seeds/fees.csv', sep=';')
prices=pd.read_csv('seeds/prices.csv', sep=';')

In [26]:
banks

,id,bp_bank_id,name,address,country
0,NaN,193,banco ctt,"Av. Dom João II 13, 1999-001 Lisboa",Portugal
1,NaN,170,abanca,"Rua Castilho, n.º 20, 1250-069, Lisboa",Portugal
2,NaN,8,banco bai europa,"Rua Tierno Galvan Torre 3, 12º Piso, 1070-274 ...",Portugal
3,NaN,79,banco bic,"Avenida Antonio Augusto De Aguiar, N.º 132",Portugal
4,NaN,269,bankinter,"Praça Marquês de Pombal, n.º 13, 2.º Andar, 12...",Portugal

In [14]:
banks.to_csv('seeds/banks.csv')

In [27]:
websites

   id           bank_id                              url       description
0 NaN         banco ctt        "https://www.bancoctt.pt"         banco ctt
1 NaN            abanca        https://www.abanca.pt/pt/            abanca
2 NaN  banco bai europa  "https://www.bancobaieuropa.pt"  banco bai europa
3 NaN         banco bic         "https://www.eurobic.pt"    banco euro bic
4 NaN         bankinter       "https://www.bankinter.pt"         bankinter

In [28]:
settings

Empty DataFrame
Columns: [id, api_url, frequency, template]
Index: []

In [29]:
users

,id,bank_id,name,admin,email,password,last_login_at
0,NaN,NaN,Diogo Vieira,yes,diogo.andre.vieira@pwc.com,123456,NaN
1,NaN,NaN,Giuseppe Forgione,yes,giuseppeforgione11@gmail.com,123456,NaN
2,NaN,NaN,Gonçalo Monteiro,yes,goncalo.catarino.monteiro@pwc.com,123456,NaN
3,NaN,NaN,João Viana,yes,joao.viana@lewagon.org,123456,NaN
4,NaN,NaN,Moritz Geiger,yes,moritzgeiger@hotmail.de,123456,NaN
5,NaN,NaN,Nuno Loureiro,yes,nuno.loureiro@lewagon.org,123456,NaN
6,NaN,NaN,Olga Cravesana,yes,olga.cravesana5@gmail.com,123456,NaN
7,NaN,NaN,Pedro Agostinho,yes,pedro.s.agostinho@pwc.com,123456,NaN
8,NaN,NaN,Pedro Santos,yes,santos.pedrojorge@gmail.com,123456,NaN
9,NaN,NaN,Susanna Pezzini,yes,susanna.pezzini@gmail.com,123456,NaN
10,NaN,NaN,Thales Gomes,yes,thalessud@gmail.com,123456,NaN

In [30]:
requests

Empty DataFrame
Columns: [id, content, status]
Index: []

In [32]:
products

   id             name                                        search_name
0 NaN  Demand Deposits                           "1.1. Depósitos à ordem"
1 NaN  Demand Deposits                          "17.1. Depósitos à ordem"
2 NaN    Term Deposits                          "17.2. Depósitos a prazo"
3 NaN   Housing Credit  "2.1. Crédito à habitação e outros créditos hi...
4 NaN   Housing Credit  "18.1. Crédito à habitação e outros créditos h...

In [33]:
subproducts

,id,product_id,bank_id,name,search_name
0,NaN,Demand Deposits,abanca,3.1 Conta D.O. Particulares (Nota 2) \n ...,Abanca ContaDOParticulares<1000
1,NaN,Demand Deposits,abanca,3.1 Conta D.O. Particulares (Nota 2) \n ...,Abanca ContaDOParticulares(1000<>2500)
2,NaN,Demand Deposits,abanca,3.1 Conta D.O. Particulares (Nota 2) \n ...,Abanca ContaDOParticulares>2500
3,NaN,Demand Deposits,abanca,3.2 Conta Ordenado (Nota 1 e Nota 16) \n ...,Abanca ContaOrdenado
4,NaN,Demand Deposits,abanca,3.3 Conta Standard (não admite novas cont...,Abanca ContaStandard
5,NaN,Demand Deposits,abanca,3.4 Conta Future (clientes entre 18 e 28 ...,Abanca ContaFuture
6,NaN,Demand Deposits,abanca,3.5 Conta Kids (Nota 4) \n Kids...,Abanca ContaKids
7,NaN,Demand Deposits,abanca,3.6 Conta Global (Nota 5) \n Gl...,Abanca ContaGlobal
8,NaN,Demand Deposits,abanca,3.7 Conta Base (Nota 6) \n Basi...,Abanca ContaBase
9,NaN,Demand Deposits,abanca,3.8 Conta Private (Nota 7) \n P...,Abanca ContaPrivate
10,NaN,Demand Deposits,abanca,3.9 Conta Value (Nota 8) \n Val...,Abanca ContaValue
11,NaN,Demand Deposits,abanca,3.10 Conta Smart (Nota 9) \n ...,Abanca ContaSmart
12,NaN,Demand Deposits,abanca,3.11 Conta Futuro (clientes entre 0 e 28 ...,Abanca ContaFuturo
13,NaN,Demand Deposits,abanca,3.12 Conta Serviços Mínimos Bancários (No...,Abanca ContaServicosMinimos
14,NaN,Demand Deposits,abanca,3.13 Conta Moeda Estrangeira (Nota 12) \n...,Abanca ContaMoedaEstrangeira
15,NaN,Demand Deposits,abanca,3.14 Conta ABANCA Internacional (Nota 17)...,Abanca ContaInternacional
16,NaN,Demand Deposits,banco ctt,Conta Banco CTT,Banco CTT Conta Banco CTT
17,NaN,Demand Deposits,banco ctt,"Conta Júnior (Montante Mínimo de Abertura 25,00€)",Banco CTT Conta Júnior (Montante Mínimo de Abe...
18,NaN,Demand Deposits,banco ctt,"Conta Base (Montante Mínimo de Abertura 100,00€)",Banco CTT Conta Base (Montante Mínimo de Abert...
19,NaN,Demand Deposits,banco ctt,Conta de Serviços Mínimos Bancários,Banco CTT Conta de Serviços Mínimos Bancários
20,NaN,Demand Deposits,banco bai,Conta Depósito à Ordem (EUR/ Moeda Estrangeira...,Banco BAI Conta Depósito à Ordem (EUR/ Moeda E...
21,NaN,Demand Deposits,banco bai,Conta de Serviços Mínimos Bancários,Banco BAI Conta de Serviços Mínimos Bancários
22,NaN,Demand Deposits,bankinter,Conta Mais Ordenado,Bankinter Conta Mais Ordenado
23,NaN,Demand Deposits,bankinter,Conta Bankinter (idade igual ou superior a 18 ...,Bankinter Conta Bankinter (idade igual ou supe...
24,NaN,Demand Deposits,bankinter,- Conta Bankinter em Moeda Estrangeira.\n- Con...,Bankinter - Conta Bankinter em Moeda Estrangei...
25,NaN,Demand Deposits,bankinter,"- Conta B Dynamic (idades entre 18 e 54 anos),...",Bankinter - Conta B Dynamic (idades entre 18 e...
26,NaN,Demand Deposits,bankinter,Conta Internacional (Clientes Estrangeiros Não...,Bankinter Conta Internacional (Clientes Estran...
27,NaN,Demand Deposits,bankinter,"- Conta BK Mini (Antiga Conta B Teen), Conta M...",Bankinter - Conta BK Mini (Antiga Conta B Teen...
28,NaN,Demand Deposits,bankinter,- Conta B Prime (Conta Ordenado para Clientes ...,Bankinter - Conta B Prime (Conta Ordenado para...
29,NaN,Demand Deposits,bankinter,- Conta Serviços Mínimos Bancários\nBasic Serv...,Bankinter - Conta Serviços Mínimos Bancários\n...
30,NaN,Demand Deposits,banco bic,"Conta à Ordem (5), Conta à Ordem Emigrantes (5...","Banco BIC Conta à Ordem (5), Conta à Ordem Emi..."
31,NaN,Demand Deposits,banco bic,"Conta à Ordem (5), Conta à Ordem Emigrantes (5...","Banco BIC Conta à Ordem (5), Conta à Ordem Emi..."
32,NaN,Demand Deposits,banco bic,"Conta à Ordem (5), Conta à Ordem Emigrantes (5...","Banco BIC Conta à Ordem (5), Conta à Ordem Emi..."
33,NaN,Demand Deposits,banco bic,"Conta à Ordem (5), Conta à Ordem Emigrantes (5...","Banco BIC Conta à Ordem (5), Conta à Ordem Emi..."
34,NaN,Demand Deposits,banco bic,"Conta à Ordem (5), Conta à Ordem Emigrantes (5...","Banco BIC Conta à Ordem (5), Conta à Ordem Emi..."
35,NaN,Demand Deposits,banco bic,Conta à Ordem com Futuro\nDemand Deposit Accou...,Banco BIC Conta à Ordem com Futuro\nDemand Dep...
36,NaN,Demand Deposits,banco bic,Conta Cool (contratações a partir de 13 de nov...,Banco BIC Conta Cool (contratações a partir de...
37,NaN,Demand Deposits,banco bic,Conta à Ordem Massa Insolvente\nDemand Deposit...,Banco BIC Conta à Ordem Massa Insolvente\nDema...
38,NaN,Demand Deposits,banco bic,Conta BIC Salário Internacional (Fora de comer...,Banco BIC Conta BIC Salário Internacional (For...
39,NaN,Demand Deposits,banco bic,2. Comissão de manutenção da Conta Base\n ...,Banco BIC 2. Comissão de manutenção da Conta B...
40,NaN,Demand Deposits,banco bic,3. Comissão de manutenção da Conta de Serviços...,Banco BIC 3. Comissão de manutenção da Conta d...
41,NaN,Demand Deposits,banco bic,Conta EuroBic Prime com domiciliação de vencim...,Banco BIC Conta EuroBic Prime com domiciliação...
42,NaN,Demand Deposits,banco bic,Conta EuroBic Prime com domiciliação de vencim...,Banco BIC Conta EuroBic Prime com domiciliação...
43,NaN,Demand Deposits,banco bic,Conta EuroBic Prime sem domiciliação de vencim...,Banco BIC Conta EuroBic Prime sem domiciliação...
44,NaN,Demand Deposits,banco bic,Conta EuroBic Prime sem domiciliação de vencim...,Banco BIC Conta EuroBic Prime sem domiciliação...
45,NaN,Demand Deposits,banco bic,Conta EuroBic 365 com domiciliação de vencimen...,Banco BIC Conta EuroBic 365 com domiciliação d...
46,NaN,Demand Deposits,banco bic,Conta EuroBic 365 com domiciliação de vencimen...,Banco BIC Conta EuroBic 365 com domiciliação d...
47,NaN,Demand Deposits,banco bic,Conta EuroBic 365 sem domiciliação de vencimen...,Banco BIC Conta EuroBic 365 sem domiciliação d...
48,NaN,Demand Deposits,banco bic,Conta EuroBic 365 sem domiciliação de vencimen...,Banco BIC Conta EuroBic 365 sem domiciliação d...
49,NaN,Demand Deposits,banco bic,Conta EuroBic Sénior\nEuroBic Senior Account\n...,Banco BIC Conta EuroBic Sénior\nEuroBic Senior...
50,NaN,Demand Deposits,banco bic,Conta EuroBic Sénior\nEuroBic Senior Account\n...,Banco BIC Conta EuroBic Sénior\nEuroBic Senior...
51,NaN,Demand Deposits,banco bic,Conta EuroBic Mais (Fora de comercialização)\n...,Banco BIC Conta EuroBic Mais (Fora de comercia...
52,NaN,Demand Deposits,banco bic,Conta EuroBic Mais (Fora de comercialização)\n...,Banco BIC Conta EuroBic Mais (Fora de comercia...

In [34]:
documents

,id,bank_id,request_id,meta,date_added,file_size,file_url,file_ext
0,NaN,abanca,NaN,NaN,06/04/2021,352,"[""https://www.abanca.pt/files/documents/precar...",pdf

In [35]:
fees

,id,product_id,name,search_name,category
0,NaN,Demand Deposits,Manutenção de conta\nAccount Management Fees,Manutenção de conta,fixed commission
1,NaN,Demand Deposits,Emissão de extrato Mensal (enviado ao domicíli...,Extrato Mensal,optional commission
2,NaN,Demand Deposits,Emissão de outros extratos (para além do mensa...,Outros extratos,optional commission
3,NaN,Demand Deposits,Emissão de 2ª via extrato\nAccount Statement R...,2ª via,optional commission
4,NaN,Demand Deposits,Fotocópias de documentos\nDocumental copies,Fotocóipias,optional commission
5,NaN,Demand Deposits,"Levantamento de numerário (ao balcão, com apre...",Levamento com cheque,optional commission
6,NaN,Demand Deposits,"Levantamento de numerário (Ao balcão, sem apre...",Levamento sem cheque,optional commission
7,NaN,Demand Deposits,Adesão ao serviço de banca à distância\nRemote...,Adesão serviço distância,optional commission
8,NaN,Demand Deposits,Depósito de moedas metálicas (igual ou superio...,Depósito moedas,optional commission
9,NaN,Demand Deposits,Alteração de titulares\nAccount Owners Change,Alteração titulares,optional commission
10,NaN,Demand Deposits,Consulta de Saldo de conta DO com comprovativo...,Consulta de saldo,optional commission
11,NaN,Demand Deposits,Consulta de Movimentos de conta DO com comprov...,Consulta de movimentos,optional commission
12,NaN,Demand Deposits,Descoberto bancário\nBank overdraft,Descoberto Bancário,optional commission
13,NaN,Demand Deposits,Levantamento USD em contas USD\nUSD withdrawal...,Levantamento USD,optional commission

In [36]:
prices

,id,fees_id,subproduct_id,document_id,name,amount,category,tax_type,tax,tax_amount,status
0,NaN,Manutenção de conta\nAccount Management Fees,3.1 Conta D.O. Particulares (Nota 2) \n ...,NaN,Abanca_ManutencaoConta_ContaDOParticulares<1000,5,fixed commission,NaN,NaN,NaN,Active
1,NaN,Manutenção de conta\nAccount Management Fees,3.1 Conta D.O. Particulares (Nota 2) \n ...,NaN,Abanca_ManutencaoConta_ContaDOParticulares(100...,"3,333333333",fixed commission,NaN,NaN,NaN,Active
2,NaN,Manutenção de conta\nAccount Management Fees,3.1 Conta D.O. Particulares (Nota 2) \n ...,NaN,Abanca_ManutencaoConta_ContaDOParticulares>2500,0,fixed commission,NaN,NaN,NaN,Active
3,NaN,Manutenção de conta\nAccount Management Fees,3.2 Conta Ordenado (Nota 1 e Nota 16) \n ...,NaN,Abanca_ManutencaoConta_ContaOrdenado,0,fixed commission,NaN,NaN,NaN,Active
4,NaN,Manutenção de conta\nAccount Management Fees,3.3 Conta Standard (não admite novas cont...,NaN,Abanca_ManutencaoConta_ContaStandard,0,fixed commission,NaN,NaN,NaN,Active
...,...,...,...,...,...,...,...,...,...,...,...
155,NaN,Alteração de titulares\nAccount Owners Change,3.10 Conta Smart (Nota 9) \n ...,NaN,Abanca_AlteracaoTitulares_ContaSmart,"5,00",optional commission,NaN,NaN,NaN,Active
156,NaN,Alteração de titulares\nAccount Owners Change,3.11 Conta Futuro (clientes entre 0 e 28 ...,NaN,Abanca_AlteracaoTitulares_ContaFuturo,"5,00",optional commission,NaN,NaN,NaN,Active
157,NaN,Alteração de titulares\nAccount Owners Change,3.12 Conta Serviços Mínimos Bancários (No...,NaN,Abanca_AlteracaoTitulares_ContaServicosMinimos,"5,00",optional commission,NaN,NaN,NaN,Active
158,NaN,Alteração de titulares\nAccount Owners Change,3.13 Conta Moeda Estrangeira (Nota 12) \n...,NaN,Abanca_AlteracaoTitulares_ContaMoedaEstrangeira,"5,00",optional commission,NaN,NaN,NaN,Active
159,NaN,Alteração de titulares\nAccount Owners Change,3.14 Conta ABANCA Internacional (Nota 17)...,NaN,Abanca_AlteracaoTitulares_ContaInternacional,"5,00",optional commission,NaN,NaN,NaN,Active